extends ../layout/main

block title
  title Home page

block content
  .welcome
    .welcome__avatar
    p.welcome__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione odit eaque dolorum, ut facilis reiciendis accusantium eum aliquid, ipsam minima, quas totam a doloremque voluptatum illo repellat id earum maxime.
  
  - var posts = ['Text for post 1', 'TExt for post 2 with lorem. Lorem ipsum dolor sit amet consectetur adipisicing elit', 'Last text'];

  .welcome-latest
    p.welcome-latest__title Latest Posts
    .welcome-latest__items
      each val, index in posts
        .post
          img.post__preview(src="../img/post_" + index + ".jpg", alt="preview")
          p.post__desc= val 
          .post__footer