extends ../layout/main

block title
  title Posts

block content
  h1.title Posts

  -
    var posts = [
      {desc: 'Lorem ipsum dolor sit amet consectetur', img: 'post_0.jpg', min: '12'},
      {desc: 'Ratione odit eaque dolorum, ut facilis reiciendis accusantium eum aliquid, ipsam minima, quas totam a doloremque voluptatum illo repellat id earum maxime.', img: 'post_1.jpg', min: '8'},
      {desc: 'Custom desc for third card', img: 'post_2.jpg', min: '22'},
      {desc: 'Lorem ipsum dolor sit amet consectetur', img: 'post_3.jpg', min: '34'},
      {desc: 'Ratione odit eaque dolorum, ut facilis reiciendis accusantium eum aliquid, ipsam minima, quas totam a doloremque voluptatum illo repellat id earum maxime.', img: 'post_4.jpg', min: '3'},
      {desc: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire', img: 'post_5.jpg', min: '1'},
      {desc: 'Lorem ipsum', img: 'post_6.jpg', min: '12'},
      {desc: 'Ratione odit eaque dolorum, ut facilis reiciendis accusantium eum aliquid, ipsam minima, quas totam a doloremque voluptatum illo repellat id earum maxime.', img: 'post_7.jpg', min: '100'},
      {desc: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo', img: 'post_8.jpg', min: '34'},
    ]

  .posts
    include ../mixins/post
    each post in posts
      +post(post)
