.welcome {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;

  &__avatar {
    width: 300px;
    height: 300px;
    margin-right: 15px;

    border-radius: 50%;

    background: center/cover no-repeat url("../img/avatar.jpg");
  }

  &__desc {
    flex-basis: 60%;
  }

  &-latest {
    &__title {
      margin-bottom: 15px;

      font-weight: 500;
      text-align: center;
      font-size: 26px;
    }
  }
}

@media screen and (max-width: 825px) {
  .welcome {
    justify-content: center;
    &__avatar {
      margin-bottom: 10px;
    }
    &__desc {
      margin-bottom: 15px;
      text-align: center;
    }
  }
}
